<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.we.once">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/dollar"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/dollar"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity android:name=".ListChange"></activity>
        <activity android:name=".LineChart" />
        <activity android:name=".CheckView" />
        <activity android:name=".Conn" />
        <activity android:name=".InquireActivity" />
        <activity android:name=".SingUpActivity" />
        <activity android:name=".AddView" />
        <activity android:name=".Login" />
        <activity android:name=".WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>